body {
  color: black;
  font-family: arial;
}

h1, h2 {
  text-align:center;
  font-style: italic;
}

.box1 {
  width: 100px;
  height: 100px;
  margin-left: 100px;
  background-color: pink;
  transition-duration: 300ms;
  transition-property: width, background-color;
}

.box1:hover {
  width: 100px;
  background-color: #E38AAE;
  border-radius: 45%;
}

.one {
  background-color: #C25A7C
}

ul {
  list-style: none;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: space-evenly;
}

li {
  margin: 0 20px;
  margin-bottom: 15%;
  transition: 600ms ease;
}

li:hover {
  font-size: 1.5em;
}

.two {
  background-color: #C12267;
  min-height: 100vh;
  width: 100vw;
}
